!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 11:11 Films | Tagline
    %script{:src => 'js/1111.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/1111.css'}
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,100italic,400italic", :rel => "stylesheet", :type => "text/css"}/
  %body
    .masthead
      .header-video
        %img.header-video--media{:src => 'images/masthead.jpg', :data => {:video_src => '87701971', :teaser_src => 'video/masthead-teaser', :provider => 'vimeo', :video_width => '500', :video_height => '281'}}
        / %a#video-trigger.video-trigger{:href => 'http://vimeo.com/87701971'}
        / Play Video
      .header-video-overlay
        .masthead-table
          .masthead-inner
            %h1
              11:11 Films
            %a.cta-button.button{:href => '#'} More about us
    .main-body
      .about
        .row
          %h5 About Us
          .left-text
            %p Mumblecore tattooed you probably haven't heard of them artisan brunch, put a bird on it Godard yr XOXO plaid four loko. Chambray sriracha sartorial, cornhole cray four dollar toast DIY gluten-free farm-to-table. Master cleanse biodiesel slow-carb, hoodie mixtape gluten-free direct trade.
            %p Chia semiotics shabby chic roof party heirloom disrupt. Fingerstache XOXO organic, ugh authentic synth raw denim kitsch. Carles artisan banh mi, 3 wolf moon Marfa locavore beard. Keytar biodiesel plaid, kogi tattooed authentic fanny pack XOXO craft beer pug Vice Schlitz disrupt.

