!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 11:11 Films | Tagline
    %script{:src => 'js/1111.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'css/1111.css'}

  %body
    .masthead
      .container
        .row
          %h1 11:11 Films
    .main-body
      .container
        .row

